<div class="col xs-col-12 xs-my3 ">
  <a href="{{ post.url }}" class="">
    {% if post.next %}
      <div class="col sm-col-10">
        <h3 class="xs-inline-block xs-mt3 xs-mb1 eye-brow">Episode {{ post.episode }} • {{ post.date | date: "%b %-d, %Y" }} • {{ post.duration }}</h3>
        <h1 class="xs-block display-3 xs-mb3 lg-pr6 underline uppercase">{{ post.title }}</h1>
      </div>
    {% else %}
      <div class="col sm-col-10">
        <h1 class="xs-inline-block xs-mt3 xs-mb1 eye-brow">Episode {{ post.episode }} • {{ post.date | date: "%b %-d, %Y" }} • {{ post.duration }}</h1>
        <h1 class="xs-block display-1 xs-mb3 lg-pr6 underline uppercase">{{ post.title }}</h1>
      </div>
    {% endif %}
  </a>
</div>
