body {
  background-color: #3BFFD2;
}

a {
  color: $fill-black;

  &:not(.no-rainbow) {
    &:hover {
      color: #F452FF;
      animation: hoverAnimation 1s linear infinite;
    }
  }

  &:visited {
    color: $fill-black !important;
  }
}

@keyframes hoverAnimation {
  0% {color: #F452FF;}
  33%  {color: #3BFFD2;}
  66%   {color: #FFFF00;}
}

.doc {
  min-height: 100vh;
  background-color: #FFFFEC;
  z-index: 1;
  padding-bottom: $space-md;
  overflow-x: hidden;
  transition: all .5s $easeOutCubic;

  .post-bottom {
    @include media-query(md) {
      padding-bottom: 22em;
    }
    @include media-query(lg) {
      padding-bottom: 20em;
    }
  }
}

header {
  display: block;
}

section {
  display: block;
}

footer {
  display: inline-block;
}
